* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container {
    width: 80%;
    margin: auto;
    background: red;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

 /* Sezione Carousel*/

.carousel {

    width: 400px;
    height: 400px;

    background: blue;

}
.previous {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100% ;
    background: yellow;
}
.img-box {
    width: calc(100% - 100px) ;
    height: 100%;
    background: green;
    float: left;

}
.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;

}
.next {
    float: left ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px; ;
    height: 100% ;
    background: yellow;
}
img.active {
    display: block;
}
